.Phonetic a{
    border: 3px solid navy;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 25px;
    transition: all 150ms ease-in-out;
    background: navy;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
}

.Phonetic a:hover {
    background: white;
    color: navy;
}

.Phonetic .text {
    font-weight: bold;
}